body {
    margin: 0; 
    padding: 0; 
    overflow-x: hidden; 
}

table{
    width: 100vw;
    height: 100vh;
}

#header-1{
background-color: #853082ff;
width: 100vw;
height: 17.07vh ;
display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

#header-2{
background-color: #a4c2f4ff;
width: 100vw;
height: 5.88vh ;
}


main{
background-color: #cfe2f3ff;
width: 64vw;
height: 71.77vh ;
}

aside{
background-color: #853082ff;
width: 18vw;
height: 71.77vh ;
display: flex;
    justify-content: center; 
    align-items: center; 
}

footer{
background-color: #a4c2f4ff;
width: 100vw;
height: 5.88vh ;
display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

#container{
display: flex;
justify-content: space-between;
}

@font-face {
    font-family: compacta;
    src: url(../FONT/compacta/unicode.compacta.ttf);
}

#index-img-titolo{
    max-height: 80%;
    width: auto;
}

#titolo{
    font-size: 145px; /* Dimensione del titolo */
    font-family: compacta;
    color: #B25186; /* Colore del testo */
    -webkit-text-stroke: 2px #7C385D; /* Bordo nero di 2px */
    text-emphasis-color: 7C385D;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7); /* Ombra */
    text-align: center;
    z-index: 10;  
    position: absolute;
    margin: 0;
    padding: 0;
}

#index-img-banner-sinistro{
    width: 17.5vw;
    height: 71.07vh ;
    margin-top: 0.7vh;
    margin-bottom: 0.2vh;
}

#index-img-banner-destro{
    width: 17.5vw;
    height: 71.07vh ;
    margin-top: 0.7vh;
    margin-bottom: 0.2vh;

}

#i-i-t-s {
    height: 17.07vh;
    margin-bottom: none;
}

#i-i-t-r {
    height: 17.07vh;
    margin-bottom: none;
}

#i-i-t-c {
    position: absolute;  
    left: 50%; 
    transform: translateX(-50%); 
    width: 50%;  
    height: 29.45vh;  
}

#td-c {
    position: relative;  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 64vw;
    height: 17.07vh;
    padding: 0;
    margin: 0;
}

#td-s-r{
    width: 18vw;
    height: 17.07vh;
    padding: 0;
    margin: 0;
    border: none;
    border-collapse: collapse;
}

table {
    width: 100vw;
    height: 17.07vh;
    position: relative;  
    border: none;
    border-collapse: collapse;
}
