/*struttura di base*/
body {
    margin: 0; 
    padding: 0; 
    overflow-x: hidden; 
}

table{
    width: 100vw;
    height: 100vh;
}

#header-1{
background-color: #853082ff;
width: 100vw;
height: 17.07vh ;
display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

#header-2{
background-color: #a4c2f4ff;
width: 100vw;
height: 5.88vh ;
color: #000;
font-size: 18
}


main{
background-color: #cfe2f3ff;
width: 64vw;
min-height: 71.77vh ;
}

aside{
background-color: #853082ff;
width: 18vw;
min-height: 71.77vh ;
display: flex;
    justify-content: center; 
    align-items: center; 
}

footer{
background-color: #a4c2f4ff;
width: 100vw;
height: 5.88vh ;
display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

#container{
display: flex;
justify-content: space-between;
}

/*h1*/

@font-face {
    font-family: compacta;
    src: url(../FONT/compacta/unicode.compacta.ttf);
}

#titolo{
    font-size: 16vh; /* Dimensione del titolo */
    font-family: compacta;
    color: #B25186; /* Colore del testo */
    -webkit-text-stroke: 2px #7C385D; /* Bordo nero di 2px */
    text-emphasis-color: 7C385D;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7); /* Ombra */
    text-align: center;
    z-index: 10;  
    position: absolute;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out; /* Transizione per l'effetto hover */
}

#titolo:hover {
    text-shadow: 
        0 0 10px rgba(255, 215, 0, 0.8),  /* Bagliore principale */
        0 0 20px rgba(255, 215, 0, 0.6),  /* Bagliore secondario */
        0 0 30px rgba(255, 215, 0, 0.4),  /* Bagliore diffuso */
        0 0 40px rgba(255, 215, 0, 0.2);  /* Bagliore più ampio */
    color: #FFD700; /* Cambia il colore del testo in oro */
    -webkit-text-stroke: 2px #FFC700; /* Cambia il bordo del testo */
}

/*aside*/

#index-img-banner-sinistro{
    width: 17.5vw;
    height: 71.07vh ;
    margin-top: 0.7vh;
    margin-bottom: 0.2vh;
}

#index-img-banner-destro{
    width: 17.5vw;
    height: 71.07vh ;
    margin-top: 0.7vh;
    margin-bottom: 0.2vh;

}

#i-i-t-s {
    height: 17.07vh;
    margin-bottom: none;
}

#i-i-t-r {
    height: 17.07vh;
    margin-bottom: none;
}

#i-i-t-c {
    position: absolute;  
    left: 50%; 
    transform: translateX(-50%); 
    width: 50%;  
    height: 29.45vh;  
}

#td-c {
    position: relative;  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 64vw;
    height: 17.07vh;
    padding: 0;
    margin: 0;
}

#td-s-r{
    width: 18vw;
    height: 17.07vh;
    padding: 0;
    margin: 0;
    border: none;
    border-collapse: collapse;
}

table {
    width: 100vw;
    height: 17.07vh;
    position: relative;  
    border: none;
    border-collapse: collapse;
}

*{
    font-size: 18;
    color: #000;
}

#td2-c, #td-menu {
    width: 20vw;
    height: 5.88vh;
    text-align: center; /* Allineamento orizzontale */
    vertical-align: middle; /* Allineamento verticale */
}

#voci-menu{
    color: #000;
    font-family: roboto;
    font-size: 2.5vh;
    font-weight: 600;
    transition: all 0.3s ease-in-out; /* Transizione per l'effetto hover */
}

#voci-menu:hover{
    text-shadow: 
    0 0 10px rgba(255, 255, 0, 0.8),   /* Bagliore principale */
    0 0 20px rgba(255, 255, 0, 0.6),   /* Bagliore secondario */
    0 0 30px rgba(255, 255, 0, 0.4),   /* Bagliore diffuso */
    0 0 40px rgba(255, 255, 0, 0.2);   /* Bagliore più ampio */
color: #FFFF00; /* Giallo brillante */
-webkit-text-stroke: 1px #ad9a2c; /* Contorno giallo scuro */
    }

@font-face {
    font-family: roboto;
    src: url(../FONT/roboto/Roboto-Medium.ttf);
}

#menu{
    width: 100vw;
    height: 5.88vh;
    box-sizing: border-box;
}

/*formattazione blocco testo*/

#contenitore-block-text {
    display: flex;
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
    width: 64vw;
    min-height: 71.77vh ;
    padding: 5px;
    margin: 0; 
    box-sizing: border-box;
}

#block-txt{
    width: 90%;
    height: 80%;
    background: #f7f7f7;
    color: #000;
    font-size: 16px;
    line-height: 1.5;
    font-family: opensans;
    padding: 5px;
    text-align: justify;
    box-sizing: border-box;
    margin: 0; 
}

@font-face {
    font-family: opensans ;
    src: url(../FONT/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

#block-txt-home{
    color: #000;
    font-size: 15px;
    line-height: 1.5;
    font-family: opensans;
    padding-left: 5px;
    box-sizing: border-box;
}

/*
#block-txt-home a {
    text-decoration: none !important;
}
    */

#titolo-p-block-txt{
    font-size: 20px;
    color: #000;
    font-weight: bold;
    font-family: opensans;
}

#C{
    font-weight: bold;
    color: #b81515;
}

#firma{
    font-style: italic;
}

/*discografia. html*/

/*
#li-disc{
    transition: all 0.3s ease-in-out; 
}

#li-disc :hover{
color: blue; 
}
*/

/*discografia pubblica*/

#contenitore-block-text-discografia-p {
    display: flex;
    flex-direction: column; /* Disposizione verticale */
    justify-content: center; /* Centra i blocchi verticalmente */
    align-items: center; /* Centra orizzontalmente i blocchi */
    width: 64vw;
    min-height: 71.77vh ; 
    padding: 10px; /* Aggiungi uno spazio interno */
    margin: 0; 
    box-sizing: border-box;
    background-color: #cfe2f3ff; /* Sfondo per il contenitore */
}

#block-txt-discografia-p {
    width: 90%; /* Larghezza uniforme per i blocchi */
    text-align: center; /* Centra il contenuto del testo */
    margin-bottom: 20px; /* Spazio tra i blocchi */
}

#dr-titoletti-TCD{
color: #e8982e;
font-size: 4.5vh;
font-family: TheColleggeDropout;
width: 100%;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

@font-face {
    font-family:TheColleggeDropout;
    src: url(../FONT/TCD/TCD.ttf);
}

#titolo-cover-album{
width: 57.6vw;
}
  
#tabella-sample{
    width: 45vw;
}

#tabella-sample,#tr-tabella-sample,#td-tabella-sample{
    border: #000 solid 1px;
    border-collapse: collapse;
    padding: 2px;
    margin: 2px;
    box-sizing: border-box;
    font-size: small;
}

#sottocapitoli-album{
font-weight: bold;
}

#td-tabella-sample{
    padding-left: 5px;
}

#tca-td1{
width: 34.56vw;

}

#tca-td2{
width: 23.04vw;

}

#hr-tcd{
    width: 100%; 
    height: 7vh;
    border: #411218 solid 2px;
    box-sizing: border-box;
    background-color:#411218;
    padding: 5px;
    }

/*LATE REGISTRATION*/
#dr-titoletti-LR{
    color: #c3ab14;
    font-size: 4.5vh;
    font-family: 'Times New Roman';
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }

    #hr-LR{
        width: 100%; 
        height: 7vh;
        border: #373123 solid 2px;
        box-sizing: border-box;
        background-color:#373123;
        padding: 5px;
        }

/*GRADUATION*/
#dr-titoletti-GRAD{
    color: #b25186;
    font-size: 4.5vh;
    font-family: compacta;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }

    #hr-grad{
        width: 100%; 
        height: 7vh;
        border: #853082 solid 2px;
        box-sizing: border-box;
        background-color:#853082;
        padding: 5px;
        }

/*808*/
#dr-titoletti-808{
    color: #a89c9a;
    font-size: 4.5vh;
    font-family: Heartbreak;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }
    
    @font-face {
        font-family:Heartbreak;
        src: url(../FONT/EngraversGothicRegular/EngraversGothicRegular.otf);
    }

    #hr-808{
        width: 100%; 
        height: 7vh;
        border: #c2cece solid 2px;
        box-sizing: border-box;
        background-color:#c2cece;
        padding: 5px;
        }

/*MBDTF*/
#dr-titoletti-MBDTF{
    color: #d99441;
    font-size: 4.5vh;
    font-family: mbdtf;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }
    
    @font-face {
        font-family:mbdtf;
        src: url(../FONT/Lovelace/Zetafonts\ -\ Lovelace\ Text\ Regular.otf);
    }

    #hr-MBDTF{
        width: 100%; 
        height: 7vh;
        border: #f2274c solid 2px;
        box-sizing: border-box;
        background-color:#f2274c;
        padding: 5px;
        }


/*WTT*/
#dr-titoletti-WTT{
    color: #f0d771;
    font-size: 4.5vh;
    font-family: monospace;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }
    
    #hr-WTT{
        width: 100%; 
        height: 7vh;
        border: #e1c034 solid 2px;
        box-sizing: border-box;
        background-color:#e1c034;
        padding: 5px;
        }


/*YZS*/
#dr-titoletti-YZS{
    color: #f22613;
    font-size: 4.5vh;
    font-family: YEEZUS;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }
    
    @font-face {
        font-family:YEEZUS;
        src: url(../FONT/YEEZUS/ariblk.ttf);
    }

    #hr-YZS{
        width: 100%; 
        height: 7vh;
        border: 	#b4b8bf solid 2px;
        box-sizing: border-box;
        background-color:	#b4b8bf;
        padding: 5px;
        }

/*TLOP*/
#dr-titoletti-TLOP{
    color: #000;
    font-size: 4.5vh;
    font-family: Arial, Helvetica;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-weight: bold;
    }

    #hr-TLOP{
        width: 100%; 
        height: 7vh;
        border: 	#f58b57 solid 2px;
        box-sizing: border-box;
        background-color:	#f58b57;
        padding: 5px;
        }

/*YE*/
#dr-titoletti-YE{
    color: #13f235;
    font-size: 4.5vh;
    font-family: YE;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }
    
    @font-face {
        font-family:YE;
        src: url(../FONT//YE/AwesomeBi_polar-Regular.ttf);
    }

    #hr-YE{
        width: 100%; 
        height: 7vh;
        border: #132b40 solid 2px;
        box-sizing: border-box;
        background-color:#132b40;
        padding: 5px;
        }

/*KSG*/
#dr-titoletti-KSG{
    color: #1a73a9; 
    font-size: 4.5vh;
    font-family: KSG;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }
    
    @font-face {
        font-family:KSG;
        src: url(../FONT/bookman/BOOKmanOpti-Bold.otf);
    }

    #hr-KSG{
        width: 100%; 
        height: 7vh;
        border: #f38a7b solid 2px;
        box-sizing: border-box;
        background-color:#f38a7b;
        padding: 5px;
        }

/*JIK*/
#dr-titoletti-JIK{
    color: 	#bf9e55;
    font-size: 4.5vh;
    font-family: jik;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }
    
    @font-face {
        font-family:jik;
        src: url(../FONT/jik/GT\ Super\ Display\ Regular.otf);
    }

    #hr-JIK{
        width: 100%; 
        height: 7vh;
        border: #040fd9 solid 2px;
        box-sizing: border-box;
        background-color:#040fd9;
        padding: 5px;
        }

#jik-img{
    width: 220px;
    height: 220px;
}

/*DND*/
#dr-titoletti-DND{
    color: #000;
    font-size: 4.5vh;
    font-family: DONDA;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }
    
    @font-face {
        font-family:DONDA;
        src: url(../FONT/DONDA/DONDA.otf);
    }

    #hr-DND{
        width: 100%; 
        height: 7vh;
        border: #000 solid 2px;
        box-sizing: border-box;
        background-color:#000;
        padding: 5px;
        }

    #DND-IMG{
        width: 220px;
        height: 220px;
    }
   
/*V1*/
#dr-titoletti-V1{
    color: #1A1513;
    font-size: 4.5vh;
    font-family: vultures;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }
    
    @font-face {
        font-family:vultures;
        src: url(../FONT/gregorianflf/GregorianFLF.ttf);
    }

    #hr-V1{
        width: 100%; 
        height: 7vh;
        border: #544937 solid 2px;
        box-sizing: border-box;
        background-color:#544937;
        padding: 5px;
        }

    #v1-img{
        width: 220px;
        height: 220px;
    } 

/*V2*/
#dr-titoletti-V2{
    color: #D9BA8E;
    font-size: 4.5vh;
    font-family: vultures;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }

    #hr-V2{
        width: 100%; 
        height: 7vh;
        border: #343D38 solid 2px;
        box-sizing: border-box;
        background-color:#343D38;
        padding: 5px;
        }

    #v2-img{
        width: 220px;
        height: 220px;
    }  

/*BLY*/
#dr-titoletti-BLY{
    color: #050505;
    font-size: 4.5vh;
    font-family: bully;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }

@font-face {
    font-family: bully;
    src: url(../FONT/bully/bully.ttf);
}

    #hr-BLY{
        width: 100%; 
        height: 7vh;
        border: #4D4D4D solid 2px;
        box-sizing: border-box;
        background-color:#4D4D4D;
        padding: 5px;
        }

    #BLY-img{
        width: 220px;
        height: 220px;
    } 